.modes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mode {
    width: 100%;
    margin: 2rem 5%;
    overflow: auto;
}

.mode figure {
    float: right;
    width: 40%;
    max-height: 90vh;
    margin: 0 0 2rem 2rem;
}

.mode h4 {
    margin-bottom: .25em;
    text-decoration: underline;
}

.mode ul {
    margin-top: 0;
    padding: 0;
}

.mode li {
    display: flex;
    margin-bottom: .5em;
}

.mode strong:first-child {
    white-space: nowrap;
    margin-right: 1em;
}

@media only screen and ( min-width: 1280px) {
    .mode {
        width: 45%;
        margin: 2rem 0;
    }
}

@media only print {
    .modes {
        display: block;
    }

    .mode {
        width: auto;
        padding: 1em 0;
        overflow: visible;
        page-break-inside: avoid;
    }

    .mode figure {
        border: 1px solid var(--shadow-color);
        box-shadow: 0 0 15px var(--shadow-color);
    }

    .mode li {
        flex-direction: column;
    }
}
