h3 em {
    color: var(--font-color-mid);
}

small {
    display: block;
    margin-bottom: 3rem;
}

.scales section {
    margin: 4rem 0;
    border: 0;
    border-bottom: 1px solid;
    border-image: var(--border-grad);
}

.scales section:last-of-type {
    border: 0;
}

.scale-group {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    font-size: .9rem;
    counter-reset: scaleCounter;
}

.scale-group > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6);
    max-width: 12rem;
    min-width: 9.5rem;

    counter-increment: scaleCounter;
}

.scale-group > li > h4,
.scale-group > li > p {
    min-height: 1em;
    margin: 0 0 .25em;

    text-align: center;
}

.scale-group > li > p {
    margin-bottom: 1em;

    color: var(--font-color-mid);
    font-size: .9em;
    font-style: italic;
}

.scale-group ol {
    margin-bottom: 2rem;
    padding: 0;
}

.scale-group ol > li {
    margin: 0 0 .75em;
    font-weight: 700;
}

.scale-group ol > li::marker {
    color: var(--font-color-light);
}

.scale-group .color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid;
    border-radius: 2rem;
    margin: 0 auto 1em;
}

.scale-group .color:after {
    content: counter(scaleCounter);
    color: white;
    opacity: 0.5;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75), -1px 0px 2px rgba(0,0,0,0.75);
}

@media only screen and ( max-width: 600px) {
    .scale-group > li {
        min-width: 50%;
    }

}

@media only print {
    .scales section {
        page-break-after: always;
        margin: 0;
        border: 0;
    }

    .scales h2 {
        margin: 0 0 .5em;
    }

    .scales small {
        margin-bottom: 1em;
    }

    .scales section h3 {
        margin-top: 0;
    }

    .scale-group {
        font-size: .9em;
        margin: 0;
    }

    .scale-group > li {
        width: calc(100% / 3);
    }

    .scale-group ol {
        margin-bottom: 1rem;
    }

    .scale-group ol > li {
        margin-bottom: .5em;
    }

    .scale-group .color {
        -webkit-print-color-adjust: exact !important;
    }
}