---
layout: base
desc: The Eurorack manuals you always wished existed
---

{% include "nav.njk" %}

<section>
    <div>
        <h3>What is this?</h3>
        <p>Well, Eurorack and modular synthesis is super fun..... <em>but</em>, it's also very complex at times. Some of the most interesting, engaging and versatile modules available are also some of the most opaque with their interfaces. Not to say that these interfaces are intrinsically bad, many are very good, but learning them takes time, and with the number of individual modules/interfaces in front of you when you sit down at a typical modular synth, it can be overwhelming. I need something I can print off or have on my phone or tablet next to my case to quickly and easily reference whenever I need.</p>
        
        <p><code>modDoc</code> is intended to help me, <em>and maybe you</em>, keep track of how my modules work and what they can do.</p>
    </div>

    <div>
        <h3>What can this be?</h3>
        <p>I'm not sure yet. A lot of Eurorack modules are amazing, but keeping track of the details and options is daunting. Doing so with the limited, spread out or unclear documentation provided (or not provided) with most Eurorack modules makes using many of these modules needlessly frustrating.</p>

        <p>Maybe this is something other people need too... 🤔</p>

        <p>I don't have every module. I never will. But you, the mighty <strong>Internet</strong> do. If what you see here seems interesting, useful, valuable, whatever, and you want to contribute, take a look at the <a href="https://github.com/albrec/modDoc">Github</a> repo for this site.</p>
    </div>

    <div>
        <h3>What's next?</h3>
        <p>Well, creating content, as the kids say these days. I've got a few modules on the docket currently, and once those are done, who knows. </p>
    </div>
</section>
